<div class="Tidy-VariantDescription">
  <h1>Variant Description</h1>
</div>

{% schema %}
{
  "name": "Variant Description",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": []
}
{% endschema %}
{% comment %} https://shopify.dev/docs/apps/build/online-store/theme-app-extensions/configuration#schema {% endcomment %}

